/* typo */

@font - face {
  font-family : 'BodoniXT';
  src : url('BodoniXT.ttf');
  }
@font - face {

  font-family : 'Daydreamer';
  src : url('Daydreamer - copie.tff');
  }

/* header */

h1  {
  color: #ff7cf4;
  text-align: center;
  font-size: 4.375em;
  font-family : 'Daydreamer';
}

/* header */

section {
  padding: 5% 10%;
  margin: auto;
  width: 700;
  height: auto;
  background-color: white;
  border: 1px;
  }

  .commandemac {
    padding: 1% 1%;
    margin-left: 2px;
    width: 45%;
    height: auto;
    background-color: white;
    display: inline-block;
    border: 5px;
    border-color: pink;
    border-style: dotted;
    }

    .commandeterminal {
      padding: 1% 1%;
      margin-right: 2px;
      width: 45%;
      height: auto;
      background-color:white;
      display: inline-block;
      float: right;
      border: 5px;
      border-color: green;
      border-style: dotted;
      }
    }


    .commandeterminal code {
                background-color: #32d272;
                color: white;
                padding: 3px 10px;
                font-family: menlo, monospace;
                font-size: 0.500em;
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 10px;
                display: block;
                text-align: center;
                word-wrap: break-word;
              }

        .commandeterminal definition{
            color: #32d272;
                  font-family: Times;
                  font-size: 0.500em;
                  }
            }

titre {
  color: #ff7cf4;
  text-align: center;
  font-size: 1em;
  font-family : 'Daydreamer';

}
  p {
       font-size: 2.000em;
       font-family : 'Daydreamer';
       text-align; left;
       margin-left: 10px;
      }

  p definition {
    color: #ef7091;
    font-family: Times;
    font-size: 0.500em;
  }

  code {
              background-color: #ef7091;
              color: white;
              padding: 3px 10px;
              font-family: menlo, monospace;
              font-size: 0.500em;
              margin-right: 5px;
              margin-left: 5px;
              margin-bottom: 10px;
              display: block;
              text-align: center;
              word-wrap: break-word;
          }
ul {
  list-style: none;
}

.commentaire {font-size: 16px;
font-family : 'Daydreamer';}
