@media screen {

.commandemac {
    padding: 1% 1%;
    margin:auto;
    width: 45%;
    height: auto;
    background-color: white;
    border: 5px;
    border-color: pink;
    border-style: dotted;
    }
.commandeterminal {
      padding: 1% 1%;
      margin:auto;
      width: 45%;
      height: auto;
      background-color: white;
      border: 5px;
      border-color: #a3fdc7;
      border-style: dotted;
    }

  h1  {
  color: #ef7091;
  text-align: center;
  font-size: 3em;
  font-family : 'BodoniXT';
}

h3  {
  color: #ef7091;
  text-align: center;
  font-size: 1.2em;
  font-family : 'BodoniXT';
}

h4  {
  color: #32d272;;
  text-align: center;
  font-size: 1.2em;
  font-family : 'BodoniXT';
}

section {
  padding: 5% 10%;
  margin: auto;
  width: 95%;
  height: auto;
  background-color: white;
  border: 1px;
  }
  p
  {font-size: 0.724em;
  font-family : 'Times';
  text-align; left;
  margin-left: 10px;
}


    p definition {
      color: #ef7091;
      font-family: Times;
      font-size: 0.500em;
    }

    code {
                background-color: #ef7091;
                color: white;
                padding: 3px 10px;
                font-family: menlo, monospace;
                font-size: 0.500em;
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 10px;
                display: block;
                text-align: center;
                word-wrap: break-word;
              }

  .commandeterminal code {
                background-color: #32d272;
                color: white;
                padding: 3px 10px;
                font-family: menlo, monospace;
                font-size: 0.500em;
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 10px;
                display: block;
                text-align: center;
                word-wrap: break-word;
              }

        .commandeterminal definition{
            color: #32d272;
                  font-family: Times;
                  font-size: 0.500em;
                  }
            }
}
